@charset "utf-8";
/*
em html é id = em css é # (so pode um elemento)
em html é class = em css é .(Pode varios elementos)
*/

body{
    background-color: #4964D8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#principal{
    text-align: center;
    color: #2540D8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}
h1 {
    color: #ff00ea;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.basico{
    color: #00f521;
    background-color: black;
}
.intermediario{
    color: yellow;
    background-color: black;
}
.avancado{
        color: red;
        background-color: black;
}